<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 
		配置bean
		class：bean的全类名，通过放射的方式 在IOC容器中创建Bean。所以要求Bean中必须有无参数的构造器
		id：标识容器中得Bean，id唯一标识
	 -->
	<bean id="helloWorld" class="com.hubo.spring.beans.HelloWorld">
		<property name="name" value="spring"></property>
	</bean>
	
	<bean id="testInit" class="com.hubo.spring.test1.TestInit"></bean>
	
	<bean id="testDestroy" class="com.hubo.spring.test1.TestDestroy"></bean>

	<bean id="testFactoryBean" class="com.hubo.spring.test1.TestFactoryBean"></bean>
</beans>
